<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crafting Enchantments - Catálogo</title>
        <link rel="stylesheet" href="../../public/css/styles_products.css">
    </head>

    <body>

        <header class="row container">

            <nav class="navigation bar">

                <a href="#" class="Logo row">
                    <img src="../public/imgs/LogoCE.jpeg" alt="Logo de Crafting Enchantments" class="Logo row" height="100px" loading="lazy">                
                </a>

                <ul class="navigation row">
                    
                    <li> <a href="/">Inicio</a> </li>
                    <li> <a href="./contact.html">Contáctame</a> </li>
                    <li> <a href="./about.html">Sobre mí</a> </li>

                </ul>

            </nav>

        </header>

        <main>

            <h1>Elige lo que quieras, como lo quieras.</h1>

            <section class="anchetas row">

                <h2>Anchetas</h2>

                <article>
                    <h3>Anchetas Navideñas</h3>
                    <img src="../public/imgs/anchetaNavidad.jpg" alt="Ancheta Navideña" class="catalogue-img" loading="lazy">
                    <p class="price">Precio: $50,000</p>
                </article>
                <article>
                    <h3>Anchetas de Cumpleaños</h3>
                    <img src="../public/imgs/anchetaCumple.jpg" alt="Ancheta Cumpleaños" class="catalogue-img" loading="lazy">
                    <p class="price">Precio: $45,000</p>
                </article>
                <article>
                    <h3>Anchetas de Amor y Amistad</h3>
                    <img src="../public/imgs/anchetaAmorAmistad.jpeg" alt="Ancheta Amor y Amistad" class="catalogue-img" loading="lazy">
                    <p class="price">Precio: $55,000</p>
                </article>
                <article>
                    <h3>Anchetas empresariales</h3>
                    <img src="../public/imgs/anchetaEmpresarial.webp" alt="Ancheta Empresarial" class="catalogue-img" loading="lazy">
                    <p class="price">Precio: $60,000</p>
                </article>

            </section>

            <section  class="ramos row">

                <h2>Ramos</h2>
                <article>
                    <h3>Ramo de cumpleaños</h3>
                    <img src="../public/imgs/ramoCumple.jpg" alt="Ramo de Cumpleaños">
                    <p class="price">Precio: $75,000</p>
                </article>

                <article>
                    <h3>Bouquet de flores</h3>
                    <img src="../public/imgs/bouquetFlores.jpg" alt="Bouquet de Flores">
                    <p class="price">Precio: $60,000</p>
                </article>

            </section>

            <section>

                <h2>Crochet</h2>

                <article>
                    <h3></h3>
                    <img src="" alt="">
                    <p class="precio"></p>
                </article>
                <article>
                    <h3></h3>
                    <img src="" alt="">
                    <p class="precio"></p>
                </article>
                <article>
                    <h3></h3>
                    <img src="" alt="">
                    <p class="precio"></p>
                </article>


            </section>

        </main>
    </body>
</html>
