<!DOCTYPE html>
<html lang = "es">

<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content= "width= device-width, initial-scale= 1.0">
	<title>Contáctame</title>
	<link rel="stylesheet"  href="/css/styles_about.css">
</head>



<body>

  <header class="row">

    <a href="/" class="Logo row">
      <img src="/imgs/CraftingEnchantments.png" alt="Logo de Crafting Enchantments" class="LogoCE" loading="lazy" width="115px">
      <h2 class="LogoCE">Crafting <br> Enchantments</h2>
    </a>
    <div class="toggleMenu" onclick="toggleMenu();"><!-- --- --></div>
    <nav class="navigation row">
      <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/products">Mira el catálogo</a> </li>
        <li> <a href="/about">Sobre mí</a> </li>
      </ul>
    </nav>

  </header>

	<main>
		<h1>Conóceme</h1>
		<article>
			<!-- <img src="/imgs/Bonita.png" alt="Manuela Rubio Velandia"> -->

			<div class="main">
				<h2>¡Hola!</h2>
				<h3>Soy Manu, la creadora de Crafting Enchantments.</h3>
				<p>
					
					<br>
					Este emprendimiento nació de mi amor por el arte y mi pasión por crear detalles únicos que hagan sentir especial a quien los recibe. Cada ancheta y regalo personalizado está hecho con dedicación y cariño, porque creo que los mejores regalos son los que transmiten emociones.
					<br><br>
					Además de ser una forma de compartir mi creatividad, este proyecto es mi sustento y mi mayor motivación para seguir creciendo como emprendedora. ¡Gracias por apoyar mi trabajo y confiar en mis creaciones!
				</p>
			</div>

		</article>
	</main>


  <footer class="footer">
      <p>&copy; 2024 Crafting Enchantments. Todos los derechos reservados.</p>
  </footer>


  <script src="JavaScript/button.js"></script>
  <script src="JavaScript/media.js"></script>


</body>

<script src="JavaScript/button.js"></script>



</html>