<!DOCTYPE html>
<html lang="es">

<head>
	<title>Sobre mí | Crafting Enchantments</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property=""twitter:image" content"Twitter link">
	
	<link rel="stylesheet" href="css/styles_products.css">

</head>

<body>


<header class="row">

	<a href="about" class="Logo row">
		<img src="imgs/Logo CE - copia.jpg" alt="Logo de Crafting Enchantments" class="LogoCE" loading="lazy" width="115px">
		<h1 class="LogoCE">Crafting <br> Enchantments</h1>
	</a>
	<div class="toggleMenu" onclick="toggleMenu();"></div>
	<nav class="navigation row">
		<ul>
			<li> <a href="/">Inicio</a> </li>
			<li> <a href="/contact">Contáctame</a> </li>
			<li> <a href="/about">Sobre mí</a> </li>
		</ul>
	</nav>

</header>

<main>
	
</main>

<footer class="footer">
	<p>&copy; 2024 Crafting Enchantments. Todos los derechos reservados.</p>
</footer>

<script src="button.js"></script>
</body>
</html>
