<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content= "width= device-width, initial-scale= 1.0">
	<title>Acerca de Mí</title>
	<link rel="stylesheet"  href="/css/styles_about.css">
</head>



<body>

  <header class="row">

    <a href="/" class="Logo row">
      <img src="/imgs/CraftingEnchantments.png" alt="Logo de Crafting Enchantments" class="LogoCE" loading="lazy" width="115px">
      <h2 class="LogoCE">Crafting <br> Enchantments</h2>
    </a>
    <div class="toggleMenu" onclick="toggleMenu();"><!-- --- --></div>
    <nav class="navigation row">
      <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/catalogue">Mira el catálogo</a> </li>
        <li> <a href="/contact">Contáctame</a> </li>
      </ul>
    </nav>

  </header>

	<main>
		<h1>¡Conóceme!</h1>
		<article>
			<!-- <img src="/imgs/Bonita.png" alt="Manuela Rubio Velandia"> -->

			<div class="main">
				<h2>Hola,</h2>
				<h3>Soy Manu, la creadora de Crafting Enchantments.</h3>
				<p>
					<br>
					Cada ancheta y detalle personalizado que realizo está hecho con dedicación y cariño, porque creo que los regalos deben transmitir emociones y hacer sentir especial a quien los recibe. Este proyecto es el resultado de esfuerzo, creatividad y una visión clara: ofrecer productos hechos a mano que sean únicos, accesibles y significativos.
					<br><br>
					Crafting Enchantments no solo refleja mi pasión por el diseño y la personalización, sino que también representa una oportunidad para crecer como emprendedora. Gracias por ser parte de este sueño y por permitirme acompañarte en momentos tan especiales. ¡Espero que encuentres algo perfecto para ti y para quienes más quieres!
				</p>
			</div>

		</article>
	</main>


  <footer class="footer">
      <p>&copy; 2024 Crafting Enchantments. Todos los derechos reservados.</p>
  </footer>


  <script src="JavaScript/button.js"></script>
  <script src="JavaScript/media.js"></script>


</body>

<script src="JavaScript/button.js"></script>



</html>