<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content= "width= device-width, initial-scale= 1.0">
	<title>Contáctame</title>
	<link rel="stylesheet"  href="css/styles_contact.css">
  <link rel="stylesheet" href="../../public/css/styles_products.css">
</head>



<body>

  <header class="row">

    <a href="/" class="Logo row">
      <img src="/imgs/CraftingEnchantments.png" alt="Logo de Crafting Enchantments" class="LogoCE" loading="lazy" width="115px">
      <h2 class="LogoCE">Crafting <br> Enchantments</h2>
    </a>
    <div class="toggleMenu" onclick="toggleMenu();"><!-- --- --></div>
    <nav class="navigation row">
      <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/catalogo">Mira el catálogo</a> </li>
        <li> <a href="/acerca">Sobre mí</a> </li>
      </ul>
    </nav>

  </header>

	<main>
		<h1>¡Contáctame!</h1>
		<article>
			<!-- <img src="/imgs/Bonita.png" alt="Manuela Rubio Velandia"> -->
			<div class="contact">
				<a href="https://wa.link/fw1ulo" class="contact">
					<img class="contact icon" src="/icons/phone-call.png" alt="icono de telefono">
					<p>(+57) 316 4705433</p>
				</a>
			</div>
			<div class="contact">
				<a href="https://www.instagram.com/crafting_encantments?igsh=OWU2bWV0N2w5cm11&utm_source=qr" class="contact">
					<img class="contact icon" src="/icons/instagram.png" alt="icono de instagram">
					<p>crafting_encantments</p>
				</a>
			</div>
			<div class="contact">
				<a href="https://www.facebook.com/profile.php?id=61564667949202" class="contact">
					<img class="contact icon" src="/icons/facebook.png" alt="icono de facebook">
					<p>Craftingenchantments</p>
				</a>
			</div>
		</article>
	</main>


  <footer class="footer">
      <p>&copy; 2024 Crafting Enchantments. Todos los derechos reservados.</p>
  </footer>


  <script type="module" src="../../public/JavaScript/buttons.js"></script>
  <script type="module" src="../../public/JavaScript/media.js"></script>


</body>



</html>