<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Catálogo</title>
	<link rel="stylesheet" href="css/styles_products.css">
	<link rel="icon" href="imgs/Logo CE - copia.jpg">
</head>

<body>


<header class="row">

	<a href="/view/HTML/products.html" class="Logo row">
		<img src="/imgs/Logo CE - copia.jpg" alt="Logo de Crafting Enchantments" class="LogoCE" loading="lazy" width="115px">
		<h1 class="LogoCE">Crafting <br> Enchantments</h1>
	</a>
	<div class="toggleMenu" onclick="toggleMenu();"></div>
	<nav class="navigation row">
		<ul>
			<li> <a href="/">Inicio</a> </li>
			<li> <a href="/view/HTML/contact.html">Contáctame</a> </li>
			<li> <a href="/view/HTML/about.html">Sobre mí</a> </li>
		</ul>
	</nav>

</header>

<main>
	
	<div>
		<h1>Elige lo que quieras, como lo quieras</h1>
	</div>

	<section class="anchetas row">

		<h2>Anchetas</h2>

		<div class="anchetas articleContainer">
			<article>
				<h3>Navideñas</h3>
				<img src="/imgs/anchetaNavidad.jpg" alt="Ancheta Navideña" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$50,000</p>
			</article>
			<article>
				<h3>Cumpleaños</h3>
				<img src="/imgs/anchetaCumple.jpg" alt="Ancheta Cumpleaños" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$45,000</p>
			</article>
			<article>
				<h3>Amor y Amistad</h3>
				<img src="/imgs/anchetaAmorAmistad.jpeg" alt="Ancheta Amor y Amistad" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$55,000</p>
			</article>
			<article>
				<h3>Anchetas empresariales</h3>
				<img src="/imgs/anchetaEmpresarial.webp" alt="Ancheta Empresarial" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>

	</section>

	<section  class="ramos row">

		<h2>Ramos</h2>

		<div class="ramos articleContainer">
			<article>
				<h3>Ramo de cumpleaños</h3>
				<img src="/imgs/ramoCumple.jpg" alt="Ramo de Cumpleaños" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$75,000</p>
			</article>
			<article>
				<h3>Bouquet de flores</h3>
				<img src="/imgs/bouquetFlores.jpg" alt="Bouquet de Flores" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>



	</section>

	<section>

		<h2>Crochet</h2>

		<div class="crochet articleContainer">
			<article>
				<h3>Bufandas</h3>
				<img src="/imgs/crochet/bufanda.jpg" alt="Bufandas" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Flores</h3>
				<img src="/imgs/crochet/flores.jpg" alt="" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>...</h3>
				<img src="/imgs/detalles/verticalImg.jpeg" alt="" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>


	</section>

	<section>

		<h2>Arcilla</h2>

		<div class="arcilla articleContainer">
			<article>
				<h3>Resposa Pinceles</h3>
				<img src="/imgs/arcilla/resposaPinceles.jpg" alt="Resposa Pinceles" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Sirena</h3>
				<img src="/imgs/arcilla/sirena.jpg" alt="Sirena" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Porta Pinceles</h3>
				<img src="/imgs/arcilla/gatoPortaLapices.jpg" alt="Porta Pinceles" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Totoro</h3>
				<img src="/imgs/arcilla/totoroLana.jpg" alt="Totoro" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Separador de Páginas</h3>
				<img src="/imgs/arcilla/separadorLibros.jpg" alt="Separador de Páginas" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>


	</section>

	<section>

		<h2>Detalles</h2>

		<div class="detalles articleContainer">
			<article>
				<h3>Carta Estilo Antiguo</h3>
				<img src="/imgs/detalles/cartaAntigua.jpg" alt="Carta con Estilo Antiguo " class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Ramo de Corazón</h3>
				<img src="/imgs/detalles/corazonFlor.jpg" alt="Ramo de Corazón" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>
	</section>


	

</main>

<footer class="footer">
	<p>&copy; 2024 Crafting Enchantments. Todos los derechos reservados.</p>
</footer>

<script src="JavaScript/button.js"></script>
</body>
</html>
