<!DOCTYPE html>
<html lang="es">

<head>
	<title>Crafting Enchantments | Catálogo</title>
    <link rel="stylesheet" href="css/styles_products.css">
    <link rel="canonical" href="https://crafting-enchantments.vercel.app/products">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Crafting Enchantments es un emprendimiento colombiano que ofrece anchetas personalizadas, además de otros detalles hechos a mano perfectos para sorprender en cualquier ocasión.">
    <meta name="keywords" content="anchetas personalizadas, regalos únicos, anchetas Bogotá, detalles en crochet, regalos artesanales, esculturas en arcilla, regalos creativos, amor y amistad, detalles para cumpleaños, eventos empresariales">
    <meta name="author" content="Crafting Enchantments">
    <meta name="country" content="COL">
    <meta name="currency" content="COP">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="icons/CraftingEnchantmentsDark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" href="img/CraftingEnchantments.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <meta property="og:title" content="Crafting Enchantments | Anchetas y Detalles Personalizados">
    <meta property="og:description" content="Descubre anchetas y todo tipo de detalles únicos, decorados a tu gusto y hechos con amor para cualquier ocasión.">
    <meta property="og:image" content="imgs/anchetaMeta.jpg" >
    <meta property="og:url" content="https://crafting-enchantments.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_CO">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Crafting Enchantments",
        "url": "https://crafting-enchantments.vercel.app/",
        "logo": "https://crafting-enchantments.vercel.app/assets/logo.png",
        "description": "Crafting Enchantments ofrece anchetas personalizadas y detalles hechos a mano para cualquier ocasión.",
        "address": {
          "@type": "PostalAddress",
          "streetAdress": "Calle 160, carrera 73",
          "addressLocality": "Bogotá",
          "addressRegion": "Cundinamarca",
          "addressCountry": "CO"
        },
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+57 3164705433",
          "contactType": "sales"
        },
        "sameAs": [
          "https://web.facebook.com/profile.php?id=61564667949202",
          "https://www.instagram.com/crafting.enchantments"
        ]
      }
    </script>
  </head>
</head>

<body>


<header class="row">

	<a href="/" class="Logo row">
		<img src="/imgs/CraftingEnchantments.png" alt="Logo de Crafting Enchantments" class="LogoCE" loading="lazy" width="115px">
		<h2 class="LogoCE">Crafting <br> Enchantments</h2>
	</a>
	<div class="toggleMenu" onclick="toggleMenu();"></div>
	<nav class="navigation row">
		<ul>
			<li> <a href="/">Inicio</a> </li>
			<li> <a href="/contact.html">Contáctame</a> </li>
			<li> <a href="/about.html">Sobre mí</a> </li>
		</ul>
	</nav>

</header>

<main>
	
	<section class="welcome">
		<h1 class="tituloCF"> Revisa el Catálogo	</h1>
		<p class="motto">Elige lo que quieras, como lo quieras</p>
	</section>

	<section class="anchetas row">

		<h2>Anchetas</h2>

		<div class="anchetas articleContainer">
			<article>
				<h3>Navideñas</h3>
				<img src="/imgs/anchetaNavidad.jpg" alt="Ancheta Navideña" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$50,000</p>
			</article>
			<article>
				<h3>Cumpleaños</h3>
				<img src="/imgs/anchetaCumple.jpg" alt="Ancheta Cumpleaños" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$45,000</p>
			</article>
<!-- 			<article>
				<h3>Amor y Amistad</h3>
				<img src="/imgs/anchetaAmorAmistad.jpeg" alt="Ancheta Amor y Amistad" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$55,000</p>
			</article>
			<article>
				<h3>Anchetas empresariales</h3>
				<img src="/imgs/anchetaEmpresarial.webp" alt="Ancheta Empresarial" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article> -->
		</div>

	</section>

	<section  class="ramos row">

		<h2>Ramos</h2>

		<div class="ramos articleContainer">
			<article>
				<h3>Ramo de cumpleaños</h3>
				<img src="/imgs/ramoCumple.jpg" alt="Ramo de Cumpleaños" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$75,000</p>
			</article>
<!-- 			<article>
				<h3>Bouquet de flores</h3>
				<img src="/imgs/bouquetFlores.jpg" alt="Bouquet de Flores" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article> -->
		</div>



	</section>

	<section>

		<h2>Crochet</h2>

		<div class="crochet articleContainer">
			<article>
				<h3>Bufandas</h3>
				<img src="/imgs/crochet/bufanda.jpg" alt="Bufandas" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Flores</h3>
				<img src="/imgs/crochet/flores.jpg" alt="" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>


	</section>

	<section>

		<h2>Arcilla</h2>

		<div class="arcilla articleContainer">
			<article>
				<h3>Resposa Pinceles</h3>
				<img src="/imgs/arcilla/resposaPinceles.jpg" alt="Resposa Pinceles" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Sirena</h3>
				<img src="/imgs/arcilla/sirena.jpg" alt="Sirena" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Porta Pinceles</h3>
				<img src="/imgs/arcilla/gatoPortaLapices.jpg" alt="Porta Pinceles" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Totoro</h3>
				<img src="/imgs/arcilla/totoroLana.jpg" alt="Totoro" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Separador de Páginas</h3>
				<img src="/imgs/arcilla/separadorLibros.jpg" alt="Separador de Páginas" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>


	</section>

	<section>

		<h2>Detalles</h2>

		<div class="detalles articleContainer">
			<article>
				<h3>Carta Estilo Antiguo</h3>
				<img src="/imgs/detalles/cartaAntigua.jpg" alt="Carta con Estilo Antiguo " class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Ramo de Corazón</h3>
				<img src="/imgs/detalles/corazonFlor.jpg" alt="Ramo de Corazón" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>
	</section>

	<section>

		<h2>Dibujos</h2>

		<div class="detalles articleContainer">
			<article>
				<h3>Carta Estilo Antiguo</h3>
				<img src="/imgs/dibujos/sophie.jpg" alt="Carta con Estilo Antiguo " class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
			<article>
				<h3>Ramo de Corazón</h3>
				<img src="/imgs/dibujos/howlSophie.jpg" alt="Ramo de Corazón" class="catalogueImg" loading="lazy" width="150vw">
				<p class="price">$60,000</p>
			</article>
		</div>
	</section>


	

</main>

<footer class="footer">
	<p>&copy; 2024 Crafting Enchantments. Todos los derechos reservados.</p>
</footer>

<script src="JavaScript/button.js"></script>
</body>
</html>
